asn1crypto==1.4.0
backports.functools-lru-cache==1.6.6
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
conda==4.8.3
conda-package-handling==1.6.0
cryptography==2.8
cycler==0.10.0
enum34==1.1.6
futures==3.3.0
idna==2.10
ipaddress==1.0.23
kiwisolver==1.1.0
matplotlib==2.2.5
menuinst==1.4.16
numpy==1.16.6
opencv-python==4.2.0.32
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrealsense2==2.51.1.4348
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==227
requests==2.25.1
ruamel-yaml==0.15.87
six==1.16.0
tqdm==4.62.3
urllib3==1.25.7
win-inet-pton==1.1.0
wincertstore==0.2
